*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.description {
    flex: 1;
    padding: 0 1rem; 

    text-align: center; 
}

.welcome {
    font-weight: bold;
    font-size: 1.5em;
}

.name {
    margin-top: 1rem;
    font-weight: bold;
    line-height: 1.5;
    font-size: 2em;
    text-align: center; 
}

.profile-desc {
    color: #007bff;
    font-weight: bold;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center; 
    font-size: 1.5em; 
}

.desc2 {
    margin-bottom: 2em;
    text-align: center; 
}

.buttonclass {
    display: flex;
    justify-content: center; 
    margin-bottom: 2em; 
}
.profile-img{
    margin-right: 10rem;
}
.profile-img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 100px rgba(221, 0, 255, 0.608); 
    
}
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    color: #f4f4f4;
    
}

.socials a {
    display: inline-block;
    margin: 0 10px; 
    transition: transform 0.3s ease, filter 0.3s ease; 
    box-shadow: 0 0 10px rgba(0, 0, 255, 0); 
}

.socials a:hover {
    transform: scale(1.2); 
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    filter: hue-rotate(180deg); 
}

.socials .linkedin,
.socials .instagram,
.socials .discord {
    font-size: 2em; 
}


.slider {
    white-space: nowrap;
    background-color: rgb(255, 255, 255); 
    height: 55px;
    overflow: hidden; 
    width: 100%; 
}

.slider img {
    width: auto;
    height: 50px; 
    margin: 0 50px; 
    vertical-align: middle; 
}
